.play-area {
  display: none;
  }

.pig-dice {
  display:none;
}

.jumbotron {
  background-color: coral;
}

#play1 {
  padding-right: 10px;
}

#play2 {
  padding-left: 10px;
}

#star{
  margin-left: 45%;
}

#gamer2 {
  border-width: medium;
  border: red solid;
}

#gamer1 {
  border-width: medium;
  border: blue solid;
}
