.play-area {
  display: none;
  }

.pig-dice-container{
  background-color:#ff9933;
  opacity:0.6;
}

.jumbotron {
background-color: #ffbd06;
opacity:0.6;
}

#play1 {
  padding-right: 10px;
}

#play2 {
  padding-left: 10px;
}

#star{
  margin-left: 45%;
}

#gamer2 {
  border-width: medium;
  border: red solid;
}

#gamer1 {
  border-width: medium;
  border: blue solid;
}

body {
  background-image: url("../img/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
p#key {
  font-style: italic; color:black;
  font-size: 30px;
}
