.player-console {
  display: none;
  background-color: green;
}

.jumbotron {
  background-color: coral;
}

#play1 {
  padding-right: 5px;
}

#play2 {
  padding-left: 5px;
}

#star{
  padding-right: 50px;
}
